<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title> Here goes user's username </title>
    <link rel="stylesheet" type="text/css" href="head_nav.css">
    <link rel="stylesheet" type="text/css" href="fav_places.css">
</head>
<body>
    <header>
        <p class="username">Hi, Bogdan</p>
        <a href="#"><img src="images/logo.png" alt="UR Web application logo"></a>
    </header>
    <p class="username"><a>Hi, Bogdan</a></p>
    <nav id="menu">
        <ul>
            <li><a href="#">My Profile</a></li><li><a id="current">Favourite places</a></li><li><a href="#">Favourite things</a></li><li><a href="#">Sign out</a></li>
        </ul>
    </nav>
    <div id="places">
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
        <article>
            <input type="image" src="images/remove.png" width="15" height="15">
            <h4>Place title</h4>
            <p>date: 02.02.2017 </p>
        </article>
    </div>
</body>
</html>
