<!DOCTYPE html>
<html>
    <head>
        <meta property="og:url" content="http://students.info.uaic.ro/~rbogdan.rusu/TW/main-page.html" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="UR Web" />
        <meta property="og:description" content="Web application that will suggest places for you to go" />
        <meta property="og:image" content="http://students.info.uaic.ro/~rbogdan.rusu/TW/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title> UR Web </title>
        <link rel="stylesheet" href="main-page.css">
    </head>
    <body>
        <div class="menu">
            <p id="hidden-menu"></p>
            <ul class="menu-bar">
                <li><a href="#">My Profile</a></li><li><a href="#">Add favourite</a></li><li><a href="#">Sign out</a></li>
            </ul>
        </div>
    </body>
</html>
